* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e9dbc1;
}

::-webkit-scrollbar-thumb {
  background: #4a2e2a;
  border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e4b39;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9dbc1;
  font-family: "Paytone One", sans-serif;
}

.navbar {
  animation-name: opacity;
  animation-duration: 2s;
  font-family: "Paytone One", sans-serif;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fullNavigation {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7f4f1;
  overflow-x: hidden;
  transition: 0.4s;
  opacity: 0.98;
}

.offcanvas-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.fullNavigation a {
  text-decoration: none;
  font-size: 50px;
  color: #4a2e2a;
  display: block;
  padding: 10px;
}

.fullNavigation a:hover {
  text-decoration: underline;
}

.fullNavigation .closeButton {
  position: absolute;
  top: 20px;
  right: 60px;
}

#cup,
#productPreview {
  box-shadow: 3px 3px 5px black;
}

#cup,
#productPreview {
  background-color: #f7f4f1;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

#productPreview {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.userInteract,
.rightSide {
  background-color: #f7f4f1;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.userInteract h1,
.rightSide h1 {
  font-family: "Paytone One", sans-serif;
}

.hidden {
  display: none;
}

.colorPickerRed,
.colorPickerOrange,
.colorPickerYellow,
.colorPickerGreen,
.colorPickerBlue,
.colorPickerVanilla,
.colorPickerPurple {
  background-color: #ef3a5d;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.col-1 {
  margin-top: 15px;
  margin-left: 10px;
}

.colorPickerOrange {
  background-color: #ffa500;
}

.colorPickerYellow {
  background-color: #ffff00;
}

.colorPickerGreen {
  background-color: #9dcd5a;
}

.colorPickerBlue {
  background-color: #56aeff;
}

.colorPickerVanilla {
  background-color: #f2efeb;
}

.colorPickerPurple {
  background-color: #f8abeb;
}

.animate {
  opacity: 0.5;
  transition: 3s;
  transform: translateX(-50%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

#saveChanges,
#reset,
#clickRedColor,
#clickOrangeColor,
#clickYellowColor,
#clickGreenColor,
#clickBlueColor,
#clickVanillaColor,
#clickPurpleColor,
#placeOrder,
#saveProduct,
#resetProduct,
#saveBurger,
#resetBurger,
#saveChicken,
#resetChicken,
#saveEggs,
#resetEggs,
#saveBacon,
#resetBacon,
#saveSausage,
#resetSausage,
#saveSpinach,
#resetSpinach,
#saveCheddar,
#resetCheddar,
#saveBitterSweet,
#resetBitterSweet,
#saveHotCold,
#resetHotCold,
#saveCoffeeEspresso,
#resetCoffeeEspresso,
#saveMilkFoam,
#resetMilkFoam,
#recommendProduct {
  transition: 0.5s;
}

#saveChanges:hover,
#reset:hover,
#clickRedColor:hover,
#clickOrangeColor:hover,
#clickYellowColor:hover,
#clickGreenColor:hover,
#clickBlueColor:hover,
#clickVanillaColor:hover,
#clickPurpleColor:hover,
#placeOrder:hover,
#saveProduct:hover,
#resetProduct:hover,
#saveBurger:hover,
#resetBurger:hover,
#saveChicken:hover,
#resetChicken:hover,
#saveEggs:hover,
#resetEggs:hover,
#saveBacon:hover,
#resetBacon:hover,
#saveSausage:hover,
#resetSausage:hover,
#saveSpinach:hover,
#resetSpinach:hover,
#saveCheddar:hover,
#resetCheddar:hover,
#saveBitterSweet:hover,
#resetBitterSweet:hover,
#saveHotCold:hover,
#resetHotCold:hover,
#saveCoffeeEspresso:hover,
#resetCoffeeEspresso:hover,
#saveMilkFoam:hover,
#resetMilkFoam:hover,
#recommendProduct:hover {
  transform: translateY(-10%);
}

.linkToProducts,
.answerquiz {
  transition: 1s;
}

.linkToProducts:hover,
.answerquiz:hover {
  transform: translateY(-10%);
}

@media screen and (max-width: 1000px) {
  .linkToProducts,
  .answerquiz,
  #recommendedProduct {
    font-size: 3vw !important;
  }
}

.scrolldown,
.scrolldown2 {
  position: absolute;
  top: 650px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

.scrolldown h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: black;
}

@media screen and (max-width: 1000px) {
  .scrolldown h3 {
    font-size: 2.5vw !important;
  }
}

.mouse {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scrolling;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scrolling {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.listOfMerchandise {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
  background-color: #f7f4f1;
  position: relative;
  text-align: center;
}

.listOfMerchandise h1 {
  font-size: 10vw;
  text-align: center;
  margin: 0;
}

.listOfmerchandise {
  margin-bottom: 1.5rem;
  color: black;
  display: block;
}

.horizontalScroll {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.images {
  height: 100%;
  display: flex;
  align-items: center;
}

.theHorizontalImage {
  width: 90%;
  height: auto;
  object-fit: fill;
  margin: 0 auto;
}

.item img {
  transition: 1s;
  box-shadow: 5px 3px 5px black;
  cursor: pointer;
}

.item img:hover {
  transform: translateY(-3%);

  box-shadow: 5px 5px 10px black;
}

.item {
  width: 25vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

@media screen and (max-width: 1000px) {
  .recommendation {
    margin-top: 450px;
  }
}
