* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e9dbc1;
}

::-webkit-scrollbar-thumb {
  background: #4a2e2a;
  border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e4b39;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9dbc1;
  font-family: "Poppins", sans-serif;
  font-family: "Paytone One", sans-serif;
}

.navbar {
  animation-name: opacity;
  animation-duration: 2s;
  font-family: "Paytone One", sans-serif;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fullNavigation {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7f4f1;
  overflow-x: hidden;
  transition: 0.4s;
  opacity: 0.98;
}

.offcanvas-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.fullNavigation a {
  text-decoration: none;
  font-size: 50px;
  color: #4a2e2a;
  display: block;
  padding: 10px;
}

.fullNavigation a:hover {
  text-decoration: underline;
}

.fullNavigation .closeButton {
  position: absolute;
  top: 20px;
  right: 60px;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center h1 {
  font-size: 5vw;
}

.scrollDown,
.scrollDown2,
.scrollDown3,
.scrollDown4,
.scrollDown5 {
  position: absolute;
  top: 500px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

.scrollDown2,
.scrollDown3,
.scrollDown4,
.scrollDown5 {
  top: 600px;
}

.scrollDown h3,
.scrollDown2 h3,
.scrollDown3 h3,
.scrollDown4 h3,
.scrollDown5 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: black;
}

@media screen and (max-width: 1000px) {
  .scrollDown h3 {
    font-size: 2.5vw !important;
  }
}

.mouse {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scrollDown4 .mouse {
  border: 2px solid #f7f4f1;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scrolling;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

.scrollDown4 .scroller {
  background-color: #f7f4f1;
}

@keyframes scrolling {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.category,
.category2,
.category3,
.category4,
.category5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f4f1;
  padding: 2rem 0 1rem 0;
  position: relative;
  text-align: center;
}

.category2,
.category4 {
  background-color: #6e4b39;
}

.category h1,
.category2 h1,
.category3 h1,
.category4 h1,
.category5 h1 {
  font-size: 10vw;
  text-align: center;
  margin: 0;
}

.category2 h1,
.category2 h3,
.category4 h1,
.category4 h3 {
  color: #f7f4f1;
}

.intro {
  margin-bottom: 1.5rem;
  color: black;
  display: block;
}

.header {
  margin-bottom: 1rem;
}

.horizontalScroll,
.horizontalScroll2,
.horizontalScroll3,
.horizontalScroll4,
.horizontalScroll5 {
  height: 70%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.images,
.images2,
.images3,
.images4,
.images5 {
  height: 100%;
  display: flex;
  align-items: center;
}

.theHorizontalImage {
  width: 90%;
  height: auto;
  object-fit: fill;
  margin: 0 auto;
}

.item img,
.item2 img,
.item3 img,
.item4 img,
.item5 img {
  transition: 1s;
  cursor: pointer;
}

.item img:hover,
.item2 img:hover,
.item3 img:hover,
.item4 img:hover,
.item5 img:hover {
  transform: translateY(-3%);
}

.item,
.item2,
.item3,
.item4,
.item5 {
  width: 40vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

.animateText {
  opacity: 0;
  transition: 2s;
  transform: translateY(-50%);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.item .content-overlay,
.item2 .content-overlay,
.item3 .content-overlay,
.item4 .content-overlay,
.item5 .content-overlay {
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.item:hover .content-overlay,
.item2:hover .content-overlay,
.item3:hover .content-overlay,
.item4:hover .content-overlay,
.item5:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 50%);
  transition: all 0.3s ease-in-out 0s;
  background: rgba(0, 0, 0, 0.3);
}

.item:hover .content-details,
.item2:hover .content-details,
.item3:hover .content-details,
.item4:hover .content-details,
.item5:hover .content-details {
  top: 0;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #f7f4f1;
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 2vw;
}

.content-details p {
  color: #f7f4f1;
  font-size: 1.5vw;
}

.fadeIn-bottom {
  top: 80%;
}
